body {
    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), url(font/RaleWay.woff2) format('woff2');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(font/OpenSans.woff2) format('woff2');
}

.total {
    font-size: 1.6em;
}

.dropdown-menu {
    min-width: 0px;
}

.fecha {
    z-index: 100000;
}

:target {
    background-color: #fcf6e0;
}

.header {
    height: 135px;
    width: 100%;
    margin: 0px auto;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
}

.footer {
    height: 80px;
    background: #F0F0F0;
    width: 100%;
    margin: 0px auto;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 100
}

.pattern {
    background-image: url('../images/globos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-size: 80px;
    line-height: 90px;
}

.middle {
    vertical-align: middle;
    margin: auto;
    color: #9c0808;
}

.bottom {
    vertical-align: bottom;
    margin: auto;
    color: white;
    line-height: 90px;
}

.right {
    text-align: right;
    margin: auto;
    color: #9c0808;
}

.center {
    text-align: center;
    margin: auto;
    color: white;
}

.ubicacionfoot {
    height: 100%;
    display: table;
    font-weight: bold;
}

.ubicacionfoot>p {
    position: relative;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin: auto;
    color: #9c0808;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus
{
    background-color: #9c0808;
    border-color: #9c0808;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

.oculto {
    display: none;
}

.sala {
    height: 234px;
    overflow: scroll;
}

.failed {
    color: #d9534f;
}

.success {
    color: #449D44
}

.ui-fileupload {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.topcorner {
    height: 80px;
    width: 150px;
    z-index: 999;
    position: fixed;
    top: 0;
    margin-top: 0.5em;
    margin-left: 0.5em;
    padding-top: 0.5em;
    text-align: center;
    border-radius: 6px;
    background-color: #f5f5f5;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.glyphicon {
    font-size: 3em;
    color: #1d941d;
}

.rowOutput {
    position: absolute;
    width: 98%;
    height: 20%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.resultOutput {
    background-color: white;
    min-height: 20%;
    margin-left: 1em;
    border-radius: 0.5em;
    display: block;
    border: solid 1px #dcdcdc;
    padding-top: 0.7em;
    font-family: 'Consolas', monospace;
    line-height: 0.5em;
}

.errorMessage {
    color: red;
}